<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
		<title>moscow_mule: The Features</title>

		<!-- Bootstrap -->
		<link href="assets/css/bootstrap.min.css" rel="stylesheet">
		<!-- Custom styles for this template -->
		<link href="assets/css/dashboard.css" rel="stylesheet">

		<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
			<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
	</head>
	<body>

		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<script src="assets/js/jquery.min.js"></script>
		<!-- Include all compiled plugins (below), or include individual files as needed -->
		<script src="assets/js/bootstrap.min.js"></script>
		<script src="assets/js/content.js"></script>

		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-3 col-md-2 sidebar">
					<ul class="nav nav-sidebar">
						<li class="active"><a href="#">Overview <span class="sr-only">(current)</span></a></li>
						<% @data["features"].each_with_index do |feature, index| %>
							<li><a href="#" onclick="setContent(<%= index %>);return false;"><%= feature["feature_title"] %></a></li>
						<% end %>
					</ul>
				</div>
				<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
					<h1 class="page-header">The Features</h1>
					<div class="row">
						<div class="col-md-9 main">	
							<div class="content"></div>
						</div>
						<div class="col-md-3">
							<ul class="list-group">
								<h5 class="list-group-item-heading">Testers</h5>
								<% @data["testers"].each do |tester| %>
									<li class="list-group-item"><%= tester %></li>
								<% end %>
							</ul>
							<ul class="list-group">
								<h5 class="list-group-item-heading">Platforms</h5>
								<% @data["platforms"].each do |platform| %>
									<li class="list-group-item"><%= platform %></li>
								<% end %>
							</ul>
							<ul class="list-group">
								<h5 class="list-group-item-heading">Testplans</h5>
								<% @data["tags_testplans_global"].each do |key, value| %>
									<li class="list-group-item"><%= key %></li>
								<% end %>
							</ul>
							<ul class="list-group">
								<h5 class="list-group-item-heading">Tags</h5>
								<% @data["tags_global"].each do |key, value| %>
									<li class="list-group-item"><%= key %><span class="badge"><%= value["scenario_ids"].size %></span></li>
								<% end %>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>